///////
// Simulates Bourbon's size() mixin, but with min|max

$dims-default: null !default;

@mixin max-size($dims) {
    @if unitless($dims) {
        $dims: $dims*1px;
    }

    max-height: $dims;
    max-width: $dims;
}

@mixin min-size($dims) {
    @if unitless($dims) {
        $dims: $dims*1px;
    }

    min-height: $dims;
    min-width: $dims;
}