// Last-index retrieves the index of the last occurances of a given value
// @param   list  $list Some given list
// @return  int   Integer value of final occurance's index
// 
// Ex)    $list: a, b, c, a, d, f, g
//        last-index($list, a);        * returns 4 (remember that lists start with 1, not 0)
//
// NOTE - This function, although a little ugly, is more efficient b/c it starts
//        at the end of a list and works backwards (hence multiplying by -1)
//        Sass @for loop does not decrement yet

@function last-index($list, $value) {
  @for $i from length($list)*-1 through -1 {
    @if nth($list, abs($i)) == $value {
      @return abs($i);
    }
  }

  @return null;
}