// Remove function removes a given value from a given list
// @param   list   $list       Some given list
// $param   mixed  $value      Some value to be removed
// @param   bool   $recursive  How deep does it go? (... That's what she said)
// @return  list   Updated list with removed values
@function remove($list, $value, $recursive: false) {
  $result: ();

  @for $i from 1 through length($list) {
    @if type-of(nth($list, $i)) == list and $recursive {
      $result: append($result, remove(nth($list, $i), $value, $recursive));
    }

    @else if nth($list, $i) != $value {
      $result: append($result, nth($list, $i));
    }
  }

  @return $result;
}