// Replace function replaces all occurances of some value with a new value
// @param   list   $list       Some given list
// @param   mixed  $old-value  The old value which is to be replaced
// @param   mixed  $new-value  The new value which is to do the replacing
// @param   bool   $recursive  How deep will it go? (That's what she said...)
// @return  Updated list with replaced value(s)
@function replace($list, $old-value, $new-value, $recursive: false) {
  $result: ();

  @for $i from 1 through length($list) {
    @if type-of(nth($list, $i)) == list and $recursive {
      $result: append($result, replace(nth($list, $i), $old-value, $new-value, $recursive));
    }

    @else {
      @if nth($list, $i) == $old-value {
        $result: append($result, $new-value);
      }

      @else {
        $result: append($result, nth($list, $i));
      }
    }
  }

  @return $result;
}