// Reverse function reverses the item order of a list
// @param   list  $list       Some given list
// @param   bool  $recursive  How deep does it go? (... That's what she said)
// @return  The updated list
@function reverse($list, $recursive: false) {
   $result: ();

   @for $i from length($list)*-1 through -1 {
      @if type-of(nth($list, abs($i))) == list and $recursive {
        $result: append($result, reverse(nth($list, abs($i)), $recursive));      
      }

      @else {
        $result: append($result, nth($list, abs($i)));
      }
   }

   @return $result;
}