// Shift-it function shifts the indeces one direction or the other by a given value
// @param   list  $list   Some given list
// @param   int   $value  The amount which the list will be shifted (accepts + or - numbers)
// @return  list  The shifted list
@function shift-it($list, $value: 1) {
  $result: ();
    
  @for $i from 0 to length($list) {
    $result: append($result, nth($list, ($i - $value) % length($list) + 1));
  }
  
  @return $result;
}

// $mylist  : a, b, c, d, e, f, g;
// $shifted : loop($mylist, -1);    * returns b c d e f g a
// $shifted : loop($mylist, 1);     * returns g a b c d e f